{% extends "core/base.html" %} {% block contenido %}

<div class="container  mt-4">
    <div class="row ">
        <div class="col border">
            <table class="table ">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>

                {% for x in productos %}
                <tr>
                    <td>{{ x.codigo }}</td>
                    <td>{{ x.nombre }}</td>
                    <td>{{ x.categoria.nombre }}</td>
                    <td>{{ x.descripcion }}</td>
                    <td>{{ x.precio }}</td>
                    <td>
                    {% if x.imagen %}

                   <img src="{{x.imagen.url}}" alt="img" width="100" height="100">

                    {% endif %}
                    </td>
                    
                    {% if user.is_staff %}
                    <td><a class="btn btn-dark" href="{% url 'eliminar' x.id %}" style="font-size: 12px" >Eliminar </a></td>
                    <td><a class="btn btn-dark" href="{% url 'modificar' x.id %}" style="font-size: 12px" >Modificar </a></td>
                    {% endif %}
                   
                </tr>
                {% endfor %}

            </table>

        </div>
    </div>
</div>

{% if messages %} {% for x in messages %}
<div>{{x}}</div>
{% endfor %} {% endif%} {% endblock contenido %}