{% extends "core/base.html" %} {% load static %} {% block contenido %}

<div class="table">
    <table class="table-responsive table-hover" id="tablita">
        <thead class="thead-light">

            <tr>

                <th scope="col">nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">asunto</th>
                <th scope="col">contacto</th>
                <th scope="col">mensaje</th>


            </tr>
        </thead>
        <tbody>
            {% for x in contactos %}
            <tr>

                <td>{{x.nombre}}</td>
                <th>{{x.apellido}}</td>
                <td>{{x.asunto}}</td>
                <td>{{x.tipoContacto}}</td>
                <td>{{x.mensaje}}</td>



            </tr>

            {% endfor %}
        </tbody>

    </table>
</div>
{% endblock contenido %}