{% extends "core/base.html" %} {% block contenido %}

<div class="table">
    <table class="table-responsive table-hover" id="tablita">
        <thead class="thead-light">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Nombre</th>
            <th scope="col">Categoría</th>
            <th scope="col">Descripción</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        
        </thead>
        <tbody>
        {% for x in productos %}
        <tr>
            <th scope="row">{{ x.codigo }}</th>
            <td>{{ x.nombre }}</td>
            <td>{{ x.categoria.nombre }}</td>
            <td>{{ x.descripcion }}</td>
            <td>{{ x.precio }}</td>
            <td>
            {% if x.imagen %}

            <img src="{{x.imagen.url}}" alt="img" width="100" height="100">

            {% endif %}
            </td> 

            {% if user.is_staff %}
            <td><a class="btn btn-dark" id="btn-lis" href="{% url 'modificar' x.id %}" style="font-size: 12px" >Modificar </a></td>
            <td><a class="btn btn-dark" id="btn-lis" href="{% url 'eliminar' x.id %}" style="font-size: 12px" >Eliminar </a></td>
            {% endif %}

        </tr>
        {% endfor %}

        </tbody>
  </table>
</div> 
{% if messages %} {% for x in messages %}
<div>{{x}}</div>
{% endfor %} {% endif%} {% endblock contenido %}