{% extends "core/base.html" %} {% load static %} {% block contenido %}

<div class="container">

    <div class="row">
        <div class="col">
            <img src="{% static 'core/img/box.png' %}" alt="auto 1">
        </div>
    </div>
    <!-- formulario -->
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-4 ">

            <div class="col-12">
                <h4>Modificar Productos</h4>
            </div>

            <input type="hidden" name="txtId" id="txtId" value="{{ producto.id}}">

            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" value="{{producto.codigo}}" placeholder="Ingrese Código">
            </div>

            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtNombre" name="txtNombre" value="{{producto.nombre}}" placeholder="Ingrese Nombre">
            </div>
            <div class="col-8 ">
                <div class="form-group">
                    <label for="cboCategoria">Seleccione una categoría de la lista</label>
                    <select class="form-control" id="cboCategoria" name="cboCategoria">
                              <option value="0">Seleccione</option>
                              {% for x in categorias %}
                                <option 
                                {% if x.id == producto.categoria.id %}
                                {{'selected'}}
                                {% endif %}
                                value="{{x.id}}">{{ x.nombre}}</option>
                              {% endfor %}
                              
                            </select>
                </div>
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="Ingrese Descripción" value="{{producto.descripcion}}">
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtPrecio" name="txtPrecio" placeholder="Ingrese Precio" value="{{producto.precio}}">
            </div>
            <!-- imagenes -->
            <div class="col-8 py-2">
                <input type="file" name="txtImagen" id="txtImagen" value="{{producto.imagen}}">
            </div>

            <div class=" col-8 py-2 ">
                <input type="submit" class="btn btn-dark " id="btnModificar" name="btnModificar" value="Modificar">
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}