{% extends "core/base.html" %} {% load static %} {% block contenido %}
<div class="container mt-4">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <div class="col-12">
            <h4><b> Registro de Productos</b></h4>
        </div>
        <div class="row">
            <div class="col">

                <img src="{% static 'core/img/box.png' %}" alt="auto 1">
            </div>
        </div>
        <br>
        <table>

            {{ form.as_table }}

        </table>

        <div class=" col-6 py-4 ">
            <input type="reset" class="btn btn-dark col-3 mr-3" value="Limpiar">

            <input type="submit" class="btn btn-dark col-3 mr-3" id="btnAgregar" name="btnAgregar" value="Agregar">
        </div>


    </form>


</div>

{{ mensaje }}

{% if messages %} {% for x in messages %}
<div>{{x}}</div>
{% endfor %} {% endif%}

<!-- <div class="container">

    <div class="row">
        <div class="col">
            <br>
            <br>
            <img src="{% static 'core/img/box.png' %}" alt="auto 1">
        </div>
    </div>
     formulario 
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mt-4 ">

            <div class="col-12">
                <h4>Registro de Productos</h4>
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtCodigo" name="txtCodigo" placeholder="Ingrese Código">
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Ingrese Nombre">
            </div>
            <div class="col-8 ">
                <div class="form-group">
                    <label for="cboCategoria">Seleccione una categoría de la lista</label>
                    <select class="form-control" id="cboCategoria" name="cboCategoria">
                        <option value="0">Seleccione</option>
                        {% for x in categorias %}
                        <option value="{{x.id}}">{{ x.nombre}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion"
                    placeholder="Ingrese Descripción">
            </div>
            <div class="col-8 py-2">
                <input type="text" class="form-control" id="txtPrecio" name="txtPrecio" placeholder="Ingrese Precio">
            </div>

             imagenes 
            <div class="col-8 py-2">
                <input type="file" name="txtImagen" id="txtImagen">
            </div>

            <div class="col-8 py-2">
                <input type="submit" class="btn btn-dark" id="btnAgregar" name="btnAgregar" value="Agregar">
            </div>

        </div>
    </form>
    {% if messages %} {% for x in messages %}
    <div>{{x}}</div>
    {% endfor %} {% endif%}
</div> -->
{% endblock contenido %}