{% extends "core/base.html" %} {% load static %} {% block contenido %}

<!-- Slide de fotos -->
    <!-- data-ride: la forma que se hace la animacion tipo carousel hacia al lado -->
    <!-- data-interval: intervalo entre cada foto (1000=1 segundo) -->
    <div id="Carruselin" class="carousel slide" data-ride="carousel" data-interval="4000">
            <!--carousel-indicator: son los pequeños puntos en la parte inferior de cada diapositiva (que indica cuántas 
                diapositivas hay en el carrusel y qué diapositiva está viendo el usuario actualmente) -->
            <ul class="carousel-indicators">
                <li data-target="#Carruselin" data-slide-to="0" class="active"></li>
                <li data-target="#Carruselin" data-slide-to="1"></li>
                <li data-target="#Carruselin" data-slide-to="2"></li>
            </ul>
    
            <div class="carousel-inner">
                <!-- Primera imagen del carrusel activa -->
                <div class="carousel-item active">
                    <!-- propiedad clase w-100 se ajusta 100% -->
                    <img class=" d-md-block w-100 " src="img/slider/Slide1.png" alt="0">
                </div>
                <div class="carousel-item ">
                    <!-- propiedad clase w-100 se ajusta 100% -->
                    <img class="w-100 d-md-block" src="img/slider/Slide2.png" alt="1">
                </div>
                <div class="carousel-item ">
                    <!-- propiedad clase w-100 se ajusta 100% -->
                    <img class="w-100 d-md-block" src="img/slider/Slider 2.png" alt="2">
                </div>
    
            </div>
    
            <!-- Controles izquierda y derecha -->
            <a class="carousel-control-prev" href="#Carruselin" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#Carruselin" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <!---------------------------------------------------------------
        -->
        <br>
        <br>
        <br>
    
        <!-- Carrusel Productos Nuevos-->
        <h3 class="text text-center" id="nuestros">Nuevos Productos</h3>
    
    
        <div class="container mt-5 mb-5">
            <div class="card">
    
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <!---Etiqueta de nueno------------>
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!---Producto------------------------>
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (1).jpg" alt="a">
                            <a href="joker.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Máscara Joker</h6>
                            $6.990 CLP
                        </div>
    
                    </div>
    
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!--Producto-------------->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (2).jpg" alt="b">
                            <a href="penny.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara Pennywise</h6>
                            $7.900 CLP
                        </div>
    
    
                    </div>
    
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (3).jpg" alt="c">
                            <a href="momo.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara Momo</h6>
                            $7.500 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto  -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (4).jpg" alt="d">
                            <a href="muerto.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara día muertos</h6>
                            $5.900 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto  -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (5).jpg" alt="e">
                            <a href="alien.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Máscara Alien</h6>
                            $8.990
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (7).jpg" alt="f">
                            <a href="crybaby.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara crybaby</h6>
                            $9.990 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (6).jpg" alt="g">
                            <a href="Inosuke.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara Inosuke</h6>
                            $12.990
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="nuevo">
                        <span class="badge__text">nuevo</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Halloween (8).jpg" alt="h">
                            <a href="bunny.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Máscara bunny</h6>
                            $7.900 CLP
                        </div>
    
                    </div>
    
                </div>
    
    
            </div>
    
    
        </div>
    
        <!-- Carrusel Productos Populares------------------------------------------->
        <br>
        <h3 class="text text-center" id="nuestros">Populares</h3>
    
    
        <div class="container mt-5 mb-5">
            <div class="card">
    
            </div>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <!---Etiqueta de sale------------>
                    <span class="badge badge--sale" id="sale">
                        <span class="badge__text">sale</span>
                    </span>
                    <!---Producto------------------------>
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Bags (16).jpg" alt="Producto 1" class="card-img-top">
                            <a href="pokemochila.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Pokemochila</h6>
                            $12.990 CLP
                        </div>
    
    
                    </div>
    
    
                </div>
                <div class="item">
                    <!-- Etiqueta de sale -->
                    <span class="badge badge--sale" id="sale">
                        <span class="badge__text">sale</span>
                    </span>
                    <!--Producto-------------->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Papeleria (17).jpg" alt="Producto 2" class="card-img-top">
                            <a href="memo.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Memo Gato</h6>
                            $4.990 CLP
                        </div>
    
    
                    </div>
    
    
                </div>
                <div class="item">
                    <!-- Etiqueta de descuento -->
                    <span class="badge badge--sale" id="desc">
                        <span class="badge__text">10%</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Accesorios (16).jpg" alt="Producto 3" class="card-img-top">
                            <a href="llavero.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Llavero Cute</h6>
                            $3.900 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de descuento -->
                    <span class="badge badge--sale" id="desc">
                        <span class="badge__text">10%</span>
                    </span>
                    <!-- Producto  -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Phone (19).jpg" alt="Producto 4" class="card-img-top">
                            <a href="car-avengers.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Carcasa Avengers</h6>
                            $8.500 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de sale -->
                    <span class="badge badge--sale" id="sale">
                        <span class="badge__text">sale</span>
                    </span>
                    <!-- Producto  -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Phone (24).jpg" alt="Producto 5" class="card-img-top">
                            <a href="car-naruto.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Carcasa Naruto</h6>
                            $9.990
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="desc">
                        <span class="badge__text">10%</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Outfits (1).jpg" alt="Producto 6" class="card-img-top">
                            <a href="sudadera-av.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Sudadera</h6>
                            $13.990 CLP
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="sale">
                        <span class="badge__text">sale</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Papeleria (5).jpg" alt="Producto 8" class="card-img-top">
                            <a href="sacapuntas.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
    
                        <div class="card-body">
                            <h6 class="card-title">Sacapuntas Egg</h6>
                            $2.990
                        </div>
    
                    </div>
    
                </div>
                <div class="item">
                    <!-- Etiqueta de nuevo -->
                    <span class="badge badge--sale" id="sale">
                        <span class="badge__text">sale</span>
                    </span>
                    <!-- Producto -->
                    <div class="card">
                        <div class="product-single">
                            <div class="single-overlay"></div>
                            <img src="img/Productos/Phone (14).jpg" alt="Producto 9" class="card-img-top">
                            <a href="audifonos.html"> <i class="fa fa-search-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Audífonos Gato</h6>
                            $8.900 CLP
                        </div>
    
                    </div>
    
                </div>
    
    
            </div>
    
    
        </div>
    
    
        <div class="container">
            <br>
            <br>
            <br>
            <h3 class="text text-center" id="marcas">Nuestras Marcas Favoritas</h3>
            <div class="row mt-4">
    
                <!-- col-2 cada imagen ocupará 2 casillas -->
                <div class="col-2">
                    <img src="img\marcas\cinnamoroll.png" alt="logo 1" class="w-50">
                </div>
                <div class="col-2">
                    <img src="img\marcas\gudetama.png" alt="logo 2" class="w-50">
                </div>
                <div class="col-2">
                    <img src="img\marcas\Marvel_logo_red.png" alt="logo 3" class="w-50">
                </div>
                <div class="col-2">
                    <img src="img\marcas\pusheen.png" alt="logo 4" class="w-50">
                </div>
                <div class="col-2">
                    <img src="img\marcas\rilakkuma.png" alt="logo 5" class="w-50">
                </div>
                <div class="col-2">
                    <img src="img\marcas\totoro.png" alt="logo 6" class="w-50">
                </div>
            </div>
    
        </div>
    
        <br><br><br>
    
        <!-- Sobre nosotros mensaje ---------------------------------------------->
        <div style="background-color: #f0ecff;" id="marcas">
            <div class="container">
                <div style="padding-top: 80px; padding-bottom: 80px;" class="inner-container">
    
                    <h2 class="homepage-headline" style="text-align: center;">Mantente Friki y Kawaii</h2>
                    <p style="text-align: center; font-size: 16px; color: #999; line-height: 23px;">
                        Amamos dar regalos y mantener a nuestros amigos felices. Desde 2019 tenemos la misión
                        de entregar productos únicos y de gran calidad para todas las partes del mundo!, para lo cual
                        presentamos una selección de outfits, bags, papeleria, accesorios , phonecases y productos Gamer,
                        Mezclando los conceptos de Friki (geek) y Kawaii (lindo).
                        Disfruta de nuestros productos y no olvides en ponerte en contacto con nosotros. Sientete y vive
                        Frikiwaii!
                    </p>
    
                </div>
            </div>
        </div>
        <!-- Fin mensaje -->
        <br>
        <br>
    
        <!-- Descripciones seccion -------->
        <div class="site-section site-section-sm site-blocks-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-truck"></span>
                        </div>
                        <div class="text">
                            <h5 class="text-uppercase">Envíos</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer
                                accumsan tincidunt fringilla.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-refresh2"></span>
                        </div>
                        <div class="text">
                            <h5 class="text-uppercase">Cambios sin costo</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer
                                accumsan tincidunt fringilla.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon mr-4 align-self-start">
                            <span class="icon-help"></span>
                        </div>
                        <div class="text">
                            <h5 class="text-uppercase">Servicio al cliente</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer
                                accumsan tincidunt fringilla.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Sección Comunidad ------------------------------------------------>
    
        <br>
        <br>
    
        <div class="container">
            <!-- Aquí ponian los logos -->
            <!-- mt: margin-top mb: margin-button pd: padding-button-->
            <!----------------- productos ------------------------>
            <h2 class="homepage-headline" style="text-align: center; color:rgb(246, 134, 190);">Únete a la Comunidad
                Frikiwaii!</h2>
            <p style="text-align: center; font-size: 16px; color: #555; line-height: 23px;">Unete a la comunidad de
                seguidores!<a style="color: #555;" href="https://www.blippo.com/new-products"> sube fotos</a> y
                compártelas usando #Frikiwaii</p>
            <br>
            <br>
            <div class="row">
    
                <div class="col-2 sm-3" id="foto">
                    <img src="img/Comunidad/Girl 1.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@mikie22</span>
                    </span>
                </div>
    
                <div class="col-2" id="foto">
    
                    <img src="img/Comunidad/girl 2.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@sarh_</span>
                    </span>
                </div>
    
                <div class="col-2" id="foto">
                    <img src="img/Comunidad/varios.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@_tomdd</span>
                    </span>
    
                </div>
    
                <div class="col-2" id="foto">
                    <img src="img/Comunidad/boy 1.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@reval11</span>
                    </span>
                </div>
                <div class="col-2" id="foto">
                    <img src="img/Comunidad/boy 2.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@jor_boy</span>
                    </span>
    
                </div>
                <div class="col-2" id="foto">
                    <img src="img/Comunidad/girl 3.jpg" class="img-fluid" alt="Responsive image">
                    <span class="badge badge--sale" id="com">
                        <span class="badge__text">@may_ts</span>
                    </span>
                </div>
    
    
            </div>
        </div>
        <!-- Fin sección comunidad-------------->

        <!-- btn to top  -->
    <script src="js/scroll.top.js"></script>

    <!-- Códigos Carrusel productos -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.mousewheel.min.js"></script>

    <!--Script Carrusel Productos, características, responsivo  -->
    <script>
        $('.owl-carousel').owlCarousel({

            autoplay: false,
            autoplayHoverPause: true,
            items: 4,
            nav: true,
            dots: 0,
            loop: true,
            lazyload: true,
            margin: 5,
            responsive: {
                0: {
                    items: 1,
                    dots: false
                },
                485: {
                    items: 2,
                    dots: false
                },
                728: {
                    items: 3,
                    loop: true
                },
                960: {
                    items: 4,
                    loop: true
                },
                1200: {
                    items: 5,
                    dots: false
                }
            }
        });

        $('.owl-carousel').on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY > 0) {
                $('.owl-carousel').trigger('next.owl');

            } else {
                $('.owl-carousel').trigger('prev.owl');
            }
            e.preventDefault();
        });

    </script>

{% endblock contenido %}